RewriteEngine On # Turn on the rewriting engine
RewriteRule ^getHorario$ getHorario.php [NC,L]
RewriteRule ^putUsuario$ putUsuario.php [NC,L]
RewriteRule ^getValidToken$ getValidToken.php [NC,L]
RewriteRule ^getHorarios$ getHorarios.php [NC,L]
RewriteRule ^getDias$ getDias.php [NC,L]
RewriteRule ^upImgUsuario$ upImgUsuario.php [NC,L]
RewriteRule ^upUsuarioPerfil$ upUsuarioPerfil.php [NC,L]
RewriteRule ^putReservHoras$ putReservHoras.php [NC,L]
RewriteRule ^putReservHorasCancel$ putReservHorasCancel.php [NC,L]
RewriteRule ^getProfes$ getProfes.php [NC,L]
RewriteRule ^getHorasIdUser$ getHorasIdUser.php [NC,L]
RewriteRule ^getHsVs$ getHsVs.php [NC,L]
RewriteRule ^putReservVs$ putReservVs.php [NC,L]
RewriteRule ^putReservInvitados$ putReservInvitados.php [NC,L]
RewriteRule ^putCancelInvitado$ putCancelInvitado.php [NC,L]
RewriteRule ^getPerfil$ getPerfil.php [NC,L]
RewriteRule ^getPerfiles$ getPerfiles.php [NC,L]
RewriteRule ^getHorasReservAdmin$ getHorasReservAdmin.php [NC,L]
RewriteRule ^putReservHorasConfirm$ putReservHorasConfirm.php [NC,L]
RewriteRule ^putRestrictHoras$ putRestrictHoras.php [NC,L]
RewriteRule ^putFDPAgenda$ putFDPAgenda.php [NC,L]
RewriteRule ^getFDP$ getFDP.php [NC,L]
RewriteRule ^putCanje$ putCanje.php [NC,L]
RewriteRule ^putCanjeConfirm$ putCanjeConfirm.php [NC,L]
RewriteRule ^gerCanjeUser$ gerCanjeUser.php [NC,L]
RewriteRule ^putCanjeCancel$ putCanjeCancel.php [NC,L]
RewriteRule ^getCanjeUser$ getCanjeUser.php [NC,L]
RewriteRule ^putDeudaChelada$ putDeudaChelada.php [NC,L]
RewriteRule ^putDeudaCobro$ putDeudaCobro.php [NC,L]
RewriteRule ^putHoraFija$ putHoraFija.php [NC,L]
RewriteRule ^getDeudaUsuarios$ getDeudaUsuarios.php [NC,L]
RewriteRule ^putVentasChelada$ putVentasChelada.php [NC,L]
RewriteRule ^putTorneos$ putTorneos.php [NC,L]
RewriteRule ^putTorneoAspirante$ putTorneoAspirante.php [NC,L]
RewriteRule ^getTorneos$ getTorneos.php [NC,L]
RewriteRule ^getTorneoAspirantes$ getTorneoAspirantes.php [NC,L]
Header set Access-Control-Allow-Origin "*"