@import url("https://fonts.cdnfonts.com/css/poppins");

:root {
  --primary-color: #03ff03;
  /* Verde brillante del logo */
  --secondary-color: #f0f0f;
  /* Blanco */
  --text-color: #edf2fa;
  --navbar-color: #394b6ad7;
  --width-default: min(1200px, 90vw);
  --diameter: 1432px;
  /* Gris oscuro para texto */
  --title-font: "Roboto";
}

body {
  margin: 0;
  font-size: 15px;
  background-color: #061425;
  color: var(--text-color);
  user-select: none;
  font-family: "Poppins";
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

header {
  width: 100%;
  height: 70px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  /* Make the navbar fixed */
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  padding: 0 40px;
  background: var(--navbar-color);
  /* Semi-transparent background */
  backdrop-filter: blur(10px);
  /* Glassmorphism effect */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  /* Optional: add a slight shadow */
  gap: 1rem;
}

#prevDay,
#nextDay {
  background: none;
  border: none;
}

#datePicker {
  width: 1px;
  height: 1px;
  opacity: 0;
  border: none;
  padding: 0;
  position: absolute;
}

.container {
  margin-top: 50px;
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.card {
  background-color: rgb(0, 50, 102);
  width: max-content;
  border-radius: 8px;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.card.reserved {
  background-color: rgb(200, 150, 0);
}

.card.confirmed {
  background-color: blue;
}

.card.unavailable {
  background-color: rgb(200, 0, 0);
}

.card-ico {
  width: 25px;
  border-radius: 50%;
  cursor: pointer;
}

.profile {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  align-self: flex-start;
}

.profile-img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.profile p {
  text-align: center;
}

.profiles-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.actions {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.logo a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
}

.logo-image {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.modal {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.hidden {
  display: none;
}
.modal-content {
  background: #394b6a;
  padding: 20px;
  border-radius: 8px;
  min-width: 350px;
  max-width: 500px;
  position: relative;
}
.payment-row {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 10px;
}
.payment-row img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.payment-row select,
.payment-row input {
  flex: 1;
  padding: 5px;
}
.payment-ico {
  width: 35px;
  cursor: pointer;
}
.payments-btn {
  border: none;
  background: none;
}
.close-modal {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
  top: 0;
  right: 10px;
  position: absolute;
}
.save-btn {
  border: none;
  padding: 10px;
  background-color: var(--primary-color);
  border-radius: 8px;
}

.tabs {
  display: flex;
  gap: 10px;
  margin-top: 100px;
  justify-content: center;
}

.tab {
  padding: 8px 16px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  background: #ddd;
}

.tab.active {
  background: var(--primary-color);
  color: black;
  font-weight: bold;
}

@media (max-width: 436px) {
  .card {
    flex-direction: column;
    width: 85%;
    gap: 1rem;
  }
  .actions {
    gap: 2rem;
    flex-direction: row;
  }
}
